.primaryButton,
.splitButton {
  background: var(--primary-black);
  border-color: var(--primary-black);
  color: var(--white);
  height: 40px;
}

.primaryButton {
  align-items: center;
  border-radius: var(--radius-sm);
  display: inline-flex;
  gap: var(--space-2);
  padding: var(--space-0) var(--space-4);
}

.splitButton {
  border-left-color: var(--dark-gray);
  border-radius: var(--space-0) var(--radius-sm) var(--radius-sm) var(--space-0);
  margin-left: calc(var(--space-2) * -1);
  width: 40px;
}
